#Card{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  gap: 6rem;
}


.hero_projects{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}


.prev, .next{
  cursor: pointer;
}

/*info*/
.hero_info{
  width: 30%;
}

.project_name{
  padding-bottom: 2rem;
}

.project_skills{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4rem;
  padding-bottom: 2rem;
}

.project_skill{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 700;
}

.project_desc{
  color: var(--color-secondary);
  padding-bottom: 6rem;
  text-align: justify;
}

.project_link{
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  &:hover {
    color: var(--color-secondary);
  }
}

@media screen and (max-width:375px), (max-width:425px), (max-width:768px), (max-width:1024px) {
  .card{
    display: flex;
    flex-direction: column;
  }

  .hero_projects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    & figure{
      & img{
        width: 250px !important;
        height: 250px !important;
      }
    }
  }

  .hero_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .project_skills{
    justify-content: center;
    gap: 2rem;
  }
  
  .project_skill{
    gap: 0.5rem;
  }
  

  .project_desc{
    text-align: center;
    width: 300px;
  }
  
}