.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
}

.logo{
  font-size:var(--font-size-small);
  cursor: pointer;
}

.links{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}

#btn{
  line-height: 0;
  text-transform: none;
  letter-spacing: 0;
}

.link{
  font-size:var(--font-size-small) !important;
  text-decoration: none !important;
  color: var(--color-primary) !important;

  &:hover{
    color: var(--color-secondary) !important;
  }
}

@media  screen and (max-width:556px) {
  .navbar{
    flex-direction: column;
    gap: 2rem;
  }
}

@media  screen and (max-width:392px) {
  .navbar{
    padding: 2rem 5rem;
  }
}